/* 추천 음료 공통 */
/* 바운스 애니메이션 */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

/* 추천 음료 컨테이너 */
.ediya-recommend-container {
  background-color: var(--theme-bright);
}
/* 추천 음료 섹션 */
.ediya-recommend {
  color: var(--theme-default);
  background-color: var(--theme-secondary);
  text-align: center;
}
.ediya-recommend-text {
  font-size: 1.4rem;
}
.ediya-recommend-text[lang='en'] {
  font-weight: 100;
}
.ediya-recommend-text[lang='en']::after {
  content: "";
  width: 40px;
  border-top: 1px solid var(--theme-primary);
  display: inline-block;
}
.ediya-recommend-text em {
  color: var(--theme-primary);
  font-style: normal;
  font-weight: 700;
}
/* 추천 음료 리스트 */
.ediya-recommend-list {
  position: relative;
}
.ediya-recommend-beverage {
  position: absolute;
}
.ediya-recommend-beverage img {
  max-width: 100%;
  height: auto;
  animation: bounce 0.4s ease-in-out infinite alternate;
}
.ediya-recommend-beverage:last-child img {
  animation-delay: 0.2s;
}
/* 메뉴보기 링크 */
.go-menu {
  position: relative;
  display: inline-block;
  padding: 8px 24px;
  color: var(--theme-primary);
  border: 1px solid currentColor;
}
/* 유튜브 영상 섹션 */
.ediya-youtube {
  background-color: yellow;
}
.ediya-youtube-wrapper {
  margin: 0;
}
.iframe-wrapper {
  width: 100%;
  height: 0 !important;
  position: relative;
}
.iframe4-3 {
  padding-top: 75%;
}
.iframe16-9 {
  padding-top: 56.25%;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 767px) {
  /* 모바일 추천 음료 */
  .ediya-recommend-container {
    padding-bottom: 195px;
  }
  .ediya-recommend {
    padding: 25px 0 20px;
  }
  .ediya-recommend-text {
    margin: 15px 0;
  }
  .ediya-recommend-text[lang='en'] {
    font-size: 2.5rem;
  }
  .ediya-recommend-text em {
    display: block;
  }
  .ediya-recommend-beverage:first-child {
    display: none;
  }
  .ediya-recommend-beverage:last-child {
    top: 15px;
    left: 50%;
    width: 60%;
    transform: translateX(-60%);
  }
}

@media all and (min-width: 768px) {
  /* 데스크탑 추천 음료 */
  .ediya-recommend-container {
    padding-bottom: 245px;
  }
  .ediya-recommend {
    padding: 20px 0 30px;
  }
  .ediya-recommend-text {
    margin: 30px 0;
  }
  .ediya-recommend-text[lang='en'] {
    font-size: 3.1rem;
  }
  .ediya-recommend-text[lang='en']::after {
    display: block;
    margin: 30px auto 0;
  }
  .ediya-recommend-list {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .ediya-recommend-beverage:first-child {
    width: 306px;
    top: -135px;
    left: -50px;
  }
  .ediya-recommend-beverage:last-child {
    width: 457px;
    top: -55px;
    right: -160px;
  }
}
